.navBnt {
	background-color:blue;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:none;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	text-align: center;
  	text-decoration: none;
	width: 140px;
	height: 40px;
	text-align: center;
}
.banner{
	background-image: url('../images/banner.png');
	background-repeat: repeat;
	align-content: center;
}
h1.body{
	color: white;
}

p.body{
	color: white;
}

.cart-cf{
	border: 2px solid #e8ffd8;
	border-radius:10px;
}

.bodyBntLeft {
	background-color:white;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border: none;
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:17px;
	text-align: center;
  	text-decoration: none;
	width: 200px;
	height: 50px;
}

.bodyBntRight {
	background-color:blue;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border: 2px solid white;
	cursor:pointer;
	color:white;
	font-family:Arial;
	font-size:17px;
	text-align: center;
  	text-decoration: none;
	width: 200px;
	height: 50px;
}

.ul {
  list-style: none;
  text-align: left;
}

.ul li:before {
  content: '✓ ';
}

.nfBnt{
	background-color:white;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border: 2px solid white;
	box-shadow: 1px 8px 15px rgba(0, 0, 0, 0.2);
	cursor:pointer;
	color:blue;
	font-family:Arial;
	font-size:17px;
	text-align: center;
	text-decoration: none;
	margin-top: -100px;
	width: 200px;
	height: 50px;
}

.fBnt{
	background-color: #ccd8ff;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:100%;
	border: 0px solid white;
	cursor:pointer;
	color:blue;
	font-family:Arial;
	font-size:17px;
	text-align: center;
	text-decoration: none;
	margin-top: -100px;
	width: 50px;
	height: 50px;

}